{
	"reader_user_DN" : "{{reader_user_DN}}",
	"reader_user_password" : "{{reader_user_password}}",
	"search_base" : "{{search_base}}",
	"module_DN_template" : "{{module_DN_template}}",
	"url" : "{{url}}",
	"scope" : {{scope}}
}
